.button {
  position: fixed;
  left: 50%;
  margin-left: -8rem;
  bottom: 3rem;
  background: #3FD481;
  box-shadow: 0 6px 20px 0 rgba(63, 212, 129, 0.74);
  border-radius: 20px;
  width: 16rem;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  display: block;
  color: #fff;
}


.box {
  position: absolute;
  left:  0;
  width: 100%;
  text-align: center;
  top: 35%;
  margin-top: -60px;
}

.text {
  font-size: 14px;
  color: #9B9B9B;
  margin-top: 30px;
}