body {
  background: #fff;
}
.resgister {
  padding: 12px 16px;
}
.resgister .box {
  background: #FFFFFF;
  box-shadow: 2px 0 18px 0 rgba(0,0,0,0.07);
  border-radius: 2px;
  padding-bottom: 20px;
}
.resgister .title {
  position: relative;
  font-size: 18px;
  color: #212121;
  box-sizing: border-box;
  padding: 10px 0 10px 1.846rem;
  border-bottom: 1px solid #F2F2F2;
}

.cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #F2F2F2;
  padding: 24px 0 11px 0;
  margin: 0 1.53rem;
} 

.resgister input {
  font-size: 14px;
  text-align: right;
  flex: 1;
}

.label {
  font-size: 1.3rem;
  color: #4D4D4D;
  width: 7rem;
}

.resgister .title::after {
  position: absolute;
  content: '';
  background: #48D687;
  width: 2px;
  height: 16px;
  top: 50%;
  left: 0;
  margin-top: -8px;
}

.input-text {
  font-size: 1.2rem;
  color: #212121;
  flex: 1;
  text-align: right;
}

.submit-btn {
  border-radius: 20px;
  width: 16rem;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 auto;
  /* margin-top: 20px; */
  font-size: 16px;
  display: block;
  background: #3FD481;
  color: #fff;
}

button[disabled] {
  background: #F0F0F0;
}

.box1 {
  margin-top: 12px;
}

.tip {
  font-size: 14px;
  color: #9B9B9B;
}

.upload-img {
  flex-direction: column;
  align-items: flex-start;
  border-bottom: none;
  padding-bottom: 0;
}
.upload-box {
  position: relative;
  background: url(../img/noImg.png);
  background-size: 100%;
  width: 118px;
  height: 116px;
  margin-top: 14px;
  font-size: 12px;
  color: #212121;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.upload-box div {
  margin-top: 60px;
}

.upload-box input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 118px;
  height: 116px;
}
.upload-box img {
  width: 64px;
  height: 35px;
  background: #eee;
}

.border-bottom-none {
  border-bottom: none;
}

.link {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #699CE4;
  margin-top: 20px;
}

.uploadHead {
  margin-top: 13px;
}

.img-show {
  position:  relative;
  margin-top: 13px;
}

.img-show .del-img {
  position:  absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
}

.model { background: #f7f7f7; padding: 12px 1.1rem;position: relative; }
.close-btn {
  position: absolute;
  right: 1.5rem;
  top: 20px;
  width: 22px;
}
.model .list {background: #FFFFFF;border-radius: 2px;padding: 20px 1.8rem;}
.model .title1 {font-size: 16px;color: #0F0F0F;font-weight: 600;}
.model .title {font-size: 14px;color: #0F0F0F;font-weight: 600;}
.model .box {line-height: 30px;}
.model p{font-size: 14px;color: #0F0F0F;}

.model1 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.35);
}

.model1 .content {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.model1 .close-model {
  position:  absolute;
  right: 3.07rem;
  top: 3rem;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 32px;
  /* border: 2px solid #fff; */
  /* color: #fff; */
  font-size: 16px;
  border-radius: 50%;
}

.model1 .window {
  position: absolute;
  background: url(../img/tanchuang@2x.png);
  background-size: 100%;
  width: 21rem;
  height: 21rem;
  left: 50%;
  top: 25%;
  margin-left: -9.2rem;
  text-align: center;
  box-sizing: border-box;
  padding-top: 13rem;
  padding-right: 1rem;
}

.model1 p {
  font-size: 16px;
  color: #212121;
}
.model1 .tip {
  margin-top: 12px;
  font-size: 12px;
  color: #666666;
}

.model1 .btn-box {
  position: absolute;
  bottom: 3rem;
  left: 1.6rem;
  width: 16.6rem;
  height: 2.5rem;
  display: flex;
  /* background: rgba(0, 0, 0, .2); */
  display: flex;
  align-items: center;
}
.model1 .btn-box div {
  flex: 1;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 14px;
  color: #212121;
}

.model1 .btn-box .cencel {
  color: #787878;
}

.bmxz-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px 0 24px;
  font-size: 14px;
  color: #4D4D4D;
}

.openxz {
  border: 1px solid #00D977;
  border-radius: 2px;
  width: 88px;
  height: 29px;
  text-align: center;
  line-height: 29px;
  color: #00D977;
}

.model button {
  background: #3FD481;
  box-shadow: 0 6px 20px 0 rgba(63, 212, 129, 0.74);
  border-radius: 20px;
  width: 16rem;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  display: block;
  color: #fff;
  margin: 0 auto;
  margin-top: 44px;
  margin-bottom: 30px;
}
.model .label-box {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.model label {
  display: block;
  font-size: 14px;
  color: #212121;
  position: relative;
}
.lcimg {width: 100%;}





.label-box input[type=checkbox] + label::before {
  content: "\a0";  /* 不换行空格 */
  display: inline-block;
  vertical-align: 2px;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  /* border-radius: 3px; */
  border: 1px solid #F0F0F0;
  background-color: #fff;
  text-indent: 2px;
  line-height: .65;  /* 行高不加单位，子元素将继承数字乘以自身字体尺寸而非父元素行高 */
}
.label-box input[type="checkbox"]:checked + label::before {
   /* 对号的 Unicode 编码 */
  background-color: #3FD481; /* 选中的背景颜色 */
  color: #fff;
}
.label-box input[type="checkbox"]:checked + label::after {  
  position: absolute;
  width: 19px;
  height: 19px;
  content: '';
  background: url('../img/dh.png');
  background-size: 100%;
  top: 0;
  left: 0;
}

.label-box input[type='checkbox'] {
  /* 隐藏掉原先实际的 checkbox 框，之所以没用 display:none; 这种简单直接的方式，
     是因为这种方法会把它从键盘 tab 键切换焦点的队列中完全删除 */
  position: absolute;
  clip:rect(0,0,0,0);       /* 隐藏方式一：裁剪为0 */
  /* visibility: hidden; */ /* 隐藏方式二：隐藏属性 */
}

select {
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
}
.submit-box{padding: 30px 0;margin-top: 12px;}
.bmxz-btn[disabled] {
  background: #F0F0F0;
  box-shadow: 0 6px 20px 0 rgba(63, 212, 129, 0);
}
input[type="checkbox"] {
  -webkit-appearance: checkbox;
  box-sizing: border-box;
  margin-right: 4px;
  width: 19px;
  height: 19px;
}
select {
  background: #fff;
  font-size: 14px;
  direction: rtl;
  flex: 1;
}
.school-name {
  width: 100%;
  margin-top: 10px;
}
.cell-school {
  flex-direction: column;
}
.cell-school > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}