body {
  background: #f7f7f7;
  min-height: 100%;
}
.body {
  padding: 13px 1.23rem;
}
.item {
  padding-top: 40px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 2px 0 18px 0 rgba(0,0,0,0.07);
  border-radius: 2px;
  height: 352px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}
.title {
  font-size: 20px;
  color: #4D4D4D;
  padding-top: 30px;
  padding-bottom: 36px;
}

p {
  font-size: 14px;
  color: #7F7F7F;
  line-height: 31px;
}

.date {
  color: #61B961;
}

.height {
  font-size: 18px;
  color: #61B961;
  font-weight: 600;
}

.success .title {
  margin-bottom: 9px;
}

.mt-12 {
  margin-bottom: 12px;
}
.mt-23 {
  margin-bottom: 23px;
}

.block {
  display: block;
}
.none {
  display: none;
}